.main-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 50px 10px;
  text-align: center;
}

.main-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  list-style: none;
  margin-top: 50px;
}

.main-container ul li {
  display: flex;
  flex-direction: column;
}

.main-container ul li img {
  max-width: 100%;
}

.main-container ul li footer {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0 0 5px 5px;
  flex: 1;
  padding: 15px 20px;
  text-align: left;
}

.main-container ul li footer strong {
  color: #333;
  font-size: 16px;
}

.main-container ul li footer p {
  color: #999;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.main-container ul li .buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.main-container ul li .buttons button {
  background: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  height: 50px;
}

.main-container ul li .buttons button:hover img {
  transform: translateY(-5px);
  transition: all .2s;
}

.main-container .empty {
  font-size: 42px;
  color: #999;
  font-weight: bold;
  margin-top: 150px;
}
